.intro {
  border-bottom: 1px solid var(--black);
  margin: 0 desktop-vw(60px);
  padding: desktop-vw(120px) 0 desktop-vw(16px) 0;

  h1 {
    font-family: var(--font-albert-sans);
    font-size: desktop-vw(40px);
    font-weight: 400;
    letter-spacing: -0.04ch;
    margin-bottom: desktop-vw(30px);
  }
}

.filter {
  gap: desktop-vw(10px);
  margin: 0 desktop-vw(60px);
  padding: desktop-vw(20px) 0;

  .filterItem {
    align-items: center;
    border-radius: desktop-vw(60px);
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
    padding: desktop-vw(8px) desktop-vw(20px);
  }
}

.questions {
  margin: 0 desktop-vw(60px);
  padding: desktop-vw(20px) 0;

  .accordion {
    .accordionItem {
      font-family: var(--font-albert-sans);
      font-size: desktop-vw(24px);
      font-weight: 400;
      letter-spacing: -0.04ch;
      margin-bottom: desktop-vw(20px);

      .accordionTrigger {
        padding: desktop-vw(20px);

        .text {
          max-width: desktop-vw(600px);
        }

        .line {
          flex: 1;
          position: relative;
          @include dims(100%, 1px);

          &::after {
            content: "";
            @include position(absolute, 50%, desktop-vw(25px), auto, desktop-vw(25px));
            @include dims(auto, 1px);
            background: var(--black);
          }
        }
      }

      .accordionContent {
        font-size: desktop-vw(16px);
        padding: desktop-vw(40px);
      }
    }
  }
}
